.combobox-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 31px;
}

.container-input {
    position: absolute;
    height: 100%;
    width: 95%;
}

.container-select {
    
}